*~
.ipynb_checkpoints/
F182013.v4.tar
F182013.v4c_web.avg_vis.tfw
F182013.v4c_web.avg_vis.tif.gz
F182013.v4c_web.cf_cvg.tfw
F182013.v4c_web.cf_cvg.tif.gz
F182013.v4c_web.stable_lights.avg_vis.tfw
F182013.v4c_web.stable_lights.avg_vis.tif.gz
README_V4.txt
info/DMSP_primary_sensor.pdf
